/* Boldonse main heading */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Boldonse&family=Croissant+One&family=Elsie:wght@400;900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fjalla+One&family=Kenia&family=Poiret+One&family=Titan+One&family=Vina+Sans&display=swap');
/* Livvic text or content */
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Boldonse&family=Croissant+One&family=Elsie:wght@400;900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fjalla+One&family=Kenia&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Poiret+One&family=Titan+One&family=Vina+Sans&display=swap');
/* Nunito normal text or btn */
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Boldonse&family=Croissant+One&family=Elsie:wght@400;900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fjalla+One&family=Kenia&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poiret+One&family=Titan+One&family=Vina+Sans&display=swap');

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/nohemi-font-family/Nohemi-Light-BF6438cc5702321.woff') format('truetype');
}
html {
  scroll-behavior: smooth;
}
body{
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  background-color: var(--light2-bg);
}
:root{
  --red-bg: #910217;
  --yellow-bg: #c4e538;
  --light-bg: #d4d4d4;
  --light2-bg: #e0e1e2;
  --dark-bg: #191919;
  --heading: "Boldonse", system-ui;
  --text: "Livvic", sans-serif;
  --normal: 'Nohemi';


}